<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<div class="navbar">
    <img id="caas-logo" src="/assets/caas-logo.svg" alt="logo">
    <div class="search-bar">
        <input type="text" placeholder="Search...">
        <img src="/assets/header/magnifier.png" alt="search">
    </div>
    <div class="side">
        <div class="notif">
            <img src="/assets/header/bell.svg" alt="bell">
        </div>
        <div class="notif-number">
             <p>5</p>   
        </div>
        <div class="profile">
            <img id="pfp" src="/assets/header/pfp.png" alt="pfp">
            <div class="name">
                <h3>William</h3>
                <p style="color:#D64E49;">System Administrator</p>
            </div>
            <img id="first" class="dropdown" src="/assets/header/dropdown.svg" alt="dropdown">
        </div>
        <div class="language">
            <h3 id="lang">En</h3>
            <img id="second" class="dropdown" src="/assets/header/dropdown.svg" alt="dropdown">
        </div>
    </div>
</div>
