.footer {
    position: absolute;
    height: 20px;
    top: 90vh;
    width: 90vw;
    text-indent: 5vw;
    margin: 5vw;
    border-top: black solid;
    padding-top: 3vw;
    line-height: 0.5vw;
    font-size: 15px;
    font-family: 'Nunito';
}

@media only screen and (max-width: 500px) {
    .footer p{
        position: relative;
        font-size: 1vw;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 700px) {
    .footer p{
        font-size: 1vw;
        position: relative;
        top: -10px;
    }
}