.main-panel {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 7rem;
    background: #F8F8F8;

}

.sidebar-container, .app-header-container {
   position: absolute;
   z-index: 100;
   top: 0;
}

.app-header-container {
    position: absolute !important;
    z-index:  99 !important;
}