<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container" *ngIf="!back">
    <h5>Edit Course Create</h5>
    <div id="parent">
        <div>
            <img src="assets/No.1.svg">

        </div>
        <div>
            <img src="assets/Line.svg">
        </div>
        <div>
            <img src="assets/RedNo.2.svg">

        </div>
    </div>
    <div id="child">
        <div>
            <p>Edit Course Create</p>
        </div>

        <div>
            <p>Instructor & Lab</p>
        </div>
    </div>
    <div class="form-container">
        <form>
            <div class="row">
                <div class="col-xs-4 col-lg-4 ">
                    <label>PDU Technical</label>
                    <input type="text">
                </div>
                <div class="col-xs-4 col-lg-4">
                    <label>PDU Leadership</label>
                    <input type="text">
                </div>
                <div class="col-xs-4 col-lg-4">
                    <label>PDU Strategic</label>
                    <input type="text">
                </div>
            </div>

            <div class="thumbnail">
                <label>Thumbnail</label>
                <div class="col-xs-10">
                    <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target)">

                    <img src="/assets/add image.svg">
                    <h3>Drag & Drop Image, or <label for="fileDropRef"
                            style="background: none; color: #D64E49;">Browse</label></h3>
                    <p>Max 6 MB each, 12 MB for Videos</p>
                    <p style="display: inline;">Aspect Ratio 16: 9</p>
                    <p style="display: inline;">Recommended Size 1024 * 576</p>
                </div>
            </div>
            <p *ngIf="files.length != 0">
                File uploaded: {{files[0].name.length > 30 ? (files[0].name | slice:0:30)+'...':(files[0].name)}}
            </p>
            <div class="row">
                <div class="col-xs-6 col-lg-6">
                    <label>Website Link</label>
                    <input type="file" id="input" name="somename" size="chars">
            <button id="export" (click)="upload()">
               
            </button>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <label>Funding/Grant</label>
                    <select id="dropdown" name="dropdown" style=" font-family: 'Nunito';">
                        <option value="" disabled="disabled">Choose</option>
                        <option value="">NTU</option>
                        <option value="">SSG</option>
                       
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-6">
                    <label>Survey</label>
                    <select id="dropdown" name="dropdown" style=" font-family: 'Nunito';">
                        <option value="" disabled="disabled">Choose</option>
                        <option value="">Navigation</option>
                        <option value="">ICAO PANS-OPS Instrument Procedures</option>
                        <option value="">Senior Airport Fire Officers</option>
                        <option value="">Air Traffic Safety Electronics Personnel Communications</option>
                        <option value="">Airport Fire Safety</option>
                        <option value="">Aviation Safety</option>
                        <option value="">Aviation Management</option>
                    </select>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <label>Assign Instructors</label>
                    <select id="dropdown" name="dropdown" style=" font-family: 'Nunito';">
                        <option value="" disabled="disabled">Choose</option>
                        <option value="">Tan Boon Kheng</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-6">
                    <label>Assign Exam</label>
                    <select id="dropdown" name="dropdown" style=" font-family: 'Nunito';">
                        <option value="" disabled="disabled">Choose</option>
                        <option value="">Course 1</option>
                        <option value="">Course 2</option>
                        <option value="">Course 3</option>
                        <option value="">Course 4</option>
                        <option value="">Course 5</option>
                        <option value="">Course 6</option>
                    </select>
                </div>
                <div class="col-xs-6 col-lg-6">
                    <label>Assign Coursekit</label>
                    <select id="dropdown" name="dropdown" style=" font-family: 'Nunito';">
                        <option value="" disabled="disabled">Choose</option>
                        <option value="">Aviation </option>
                        <option value="">Management</option>
                        
                    </select>
                </div>
            </div>
            <div class="col-xs-12">
                <label>Certificates</label>
                <select id="dropdown" name="dropdown" style=" font-family: 'Nunito';">
                    <option value="" disabled="disabled">Choose</option>
                    
                </select>
            </div>
            <div class="row">
                <div class="col-xs-8 col-lg-8">
                    <button (click)="goBack()" id="back">Back</button>
                </div>
                <div class="col-xs-2 col-lg-2">
                    <button  id="cancel"> Cancel</button>
                </div>
                <div class="col-xs-2 col-lg-2">
                    <button (click)="submit()" id="submit"> Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div *ngIf="back">
    <app-course-list></app-course-list>
</div>