<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container" *ngIf="!next" >
    <h5>Edit Course Create</h5>
    <div id="parent">
        <div>
            <img src="assets/RedNo.1.svg">

        </div>
        <div>
            <img src="assets/Line.svg">
        </div>
        <div>
            <img src="assets/No.2.svg">

        </div>
    </div>
    <div id="child">
        <div>
            <p>Edit Course Create</p>
        </div>

        <div>
            <p>Instructor & Lab</p>
        </div>
    </div>
    <div class="form-container">
        <form>
            <div class="row">
                <div class="col-6">
                    <label>Course Name</label>
                    <input type="text" placeholder="Search and Rescue Administrators">
                </div>
                <div class="col-6">
                    <label>Course Code</label>
                    <input type="text" placeholder="SRA9102">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>Main Category</label>
                    <select id="dropdown" name="dropdown">
                        <option value="">Aviation Management</option>
                        <option value="">Electronic Personal Communication</option>
                        <option value="">Aviation Security</option>
                        <option value="">Airport Fire Safety</option>
                    </select>
                </div>
                <div class="col-6">
                    <label>Sub Category</label>
                    <select id="dropdown" name="dropdown">
                        <option value="">Aviation</option>
                        <option value=""> Management</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label>Days</label>
                    <input type="text" placeholder="05">
                </div>
                <div class="col-3">
                    <label>Training</label>
                    <input type="text" placeholder="10">
                </div>
                <div class="col-2">
                    <label >Fees</label>
                    <input type="text" placeholder="2750" >
                </div>
                <div class="col-1">
                    <label>Currency</label>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">SGD</label>
                      </div>
                      <div class="mb-3 form-check2">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check2-label" for="exampleCheck1">USD</label>
                      </div>
                </div>
                    

            </div>
            <div class="row">
                <div class="col-6">
                    <label>Skill Connect Code</label>
                    <input type="text" placeholder="SRA91">
                </div>
                <div class="col-6">
                    <label>Description</label>
                    <input type="text" placeholder="Search and Rescue Administration">
                </div>
            </div>
            <div class="detailed">
                <label>Course Detailed Description</label>
                <input type="text" name="course-detailed-description" id="course-detailed-description"
                    placeholder="SRA91">
            </div>
            <div class="row">
            <div class="col-10">
            <button id="back">Back</button>
            </div>
            <div class="col-2">
            <button (click)="moveNext()" id="next"> Next</button>
            </div>
        </div>
        </form>
    </div>
</div>
<div *ngIf="next">
    <app-course-list2></app-course-list2>
</div>